.container-wrapper {
	width: 100%;
	max-width: 1240px;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1400px) {
	.masonry {
		column-count: 5;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
	.masonry {
		column-count: 4;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.masonry {
		column-count: 3;
	}
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
	.masonry {
		column-count: 2;
	}
}